.container {
    width: 50%;
}

fieldset {
    background-color: rgba(233, 165, 247, 0.5);
}

table th {
    background-color: rgba(233, 165, 247, 0.5);
    width: 20%;
}

table td {
    background-color: #fff;
    width: 20%;
    text-align: center;   
}

#uang {
    width: 97%;
}

select {
    width: 100%;
}